<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><img class="img-socialicon" src="images/social-twitter.png" alt="twitter icon" /></a>
                    </li>
                    <li><a href="#"><img class="img-socialicon" src="images/social-facebook.png" alt="facebook icon" /></a>
                    </li>
                    <li><a href="#"><img class="img-socialicon" src="images/social-instagram.png" alt="instagram icon" /></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>